<div class="footer-content contact">
    <ul>
        <li class="footer-pin-icon"><span class="hide-label">Address</span></li>
        <li><strong>Your Department Name</strong></li>
        <li>633 Clark Street</li>
        <li>Evanston, IL 60208</li>
    </ul>
    <ul>
        <li class="footer-phone-icon"><span class="hide-label">Phone number</span></li>
        <li>(123) 456-7890</li>
    </ul>
    <ul>
        <li class="footer-fax-icon"><span class="hide-label">Fax number</span></li>
        <li>(123) 456-7890</li>
    </ul>
    <ul>
        <li class="footer-email-icon"><span class="hide-label">Email address</span></li>
        <li><a href="mailto:info@northwestern.edu">your-department@northwestern.edu</a></li>
    </ul>
</div>
