<div class="footer-content contact">
    <ul>
        <li class="footer-pin-icon"><span class="hide-label">Address</span></li>
        <li><strong>{{ site.editors.name }}</strong></li>
        <li>{{ site.editors.street_address }}</li>
        <li>{{ site.editors.town_zip}}</li>
    </ul>
    <ul>
        <li class="footer-phone-icon"><span class="hide-label">Phone number</span></li>
        <li>{{ site.editors.phone }}</li>
    </ul>
    <ul>
        <li class="footer-email-icon"><span class="hide-label">Email address</span></li>
        <li><a href="mailto:{{ site.editors.email }}">{{ site.editors.email }}</a></li>
    </ul>
</div>
