<div class="footer-content">
  <ul>
    <li><a href="http://www.library.northwestern.edu/research/scholarly/index.html" title="Digital Scholarship Services of Northwestern University Libraries">Published by Digital Scholarship Services</li>
    <li><a href="https://arch.library.northwestern.edu" title="Visit Arch, Northwestern University's Research and Data Repository">Archived in Arch</li>
    <li><a href="mailto:digitalscholarship@northwestern.edu" title="Email us at digitalscholarship@northwestern.edu">Questions</li>
  </ul>
</div>
