<div class="footer-content">
    <a href="http://www.northwestern.edu"><img src="https://common.northwestern.edu/v8/css/images/northwestern-university.svg" alt="Northwestern University" /></a>
    <ul>
        <li>&copy; <script>document.write(new Date().getFullYear())</script> Northwestern University</li>
        <li><a href="http://www.northwestern.edu/contact.html">Contact Northwestern University</a></li>
        <li><a href="http://www.northwestern.edu/hr/careers/">Careers</a></li>
        <li><a href="http://www.northwestern.edu/disclaimer.html">Disclaimer</a></li>
        <li><a href="http://www.northwestern.edu/emergency/index.html">Campus Emergency Information</a></li>
        <li><a href="http://policies.northwestern.edu/">University Policies</a></li>
    </ul>
</div>
