<div class="footer-content">
    <p><strong>Social Media</strong></p>
    <a href="#" class="social facebook">Facebook</a>
    <a href="#" class="social twitter">Twitter</a>
    <a href="#" class="social social instagram">Instagram</a>
    <a href="#" class="social rss">RSS</a>
    <a href="#" class="social youtube">YouTube</a>
    <a href="#" class="social tumblr">Tumblr</a>
    <a href="#" class="social wordpress">WordPress</a>
    <a href="#" class="social futurity">Futurity</a>
    <a href="#" class="social vimeo">Vimeo</a>
    <a href="#" class="social linkedin">Linkedin</a>
    <a href="#" class="social google-plus">Google Plus</a>
    <a href="#" class="social google-groups">Google Groups</a>
    <a href="#" class="social blog">Blog</a>
    <a href="#" class="social github">Github</a>
    <a href="#" class="social flickr">Flickr</a>
    <a href="#" class="social storify">Storify</a>
    <a href="#" class="social pinterest">Pinterest</a>
    <a href="#" class="social we-will">We Will</a>
</div>
