<div class="footer-content">
    <p><strong>Social Media</strong></p>
    {% if site.editors.facebook %}
    <a href="https://facebook.com/{{site.editors.facebook}}" class="social facebook">Facebook</a>
    {% endif %}
    {% if site.editors.twitter %}
    <a href="https://twitter.com/{{ site.editors.twitter}}" class="social twitter">Twitter</a>
    {% endif %}
    {% if site.editors.instagram %}
    <a href="https://instagram.com/{{site.editors.instagram}}" class="social social instagram">Instagram</a>
    {% endif %}
    {% if site.editors.rss %}
    <a href="#" class="social rss">RSS</a>
    {% endif %}
    {% if site.editors.youtube %}
    <a href="{{ site.editors.youtube }}" class="social youtube">YouTube</a>
    {% endif %}
    {% if site.editors.linkedin %}
    <a href="https://linkedin.com/{{site.editors.linkedin}}" class="social linkedin">Linkedin</a>
    {% endif %}
    {% if site.editors.facebook %}
    <a href="https://github.com/{{site.editors.github}}" class="social github">Github</a>
    {% endif %}
</div>
