---
layout: page
permalink: /posters/
title: "Posters"
nav_title: "Subjects"
---
{% include group-by-array collection=site.posters field='tag' %}

  {% for subject in group_names %}
    {% assign posts = group_items[forloop.index0] %}

      <h3><a id="{{ subject }}">{{ subject }}</a></h3>
      <hr>
        {% for post in posts %}
        <article class="news">
          <h4 class="news-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
          <div class="news-date" style="color: grey">{{ post.department }}</div>
          <h6>{{ post.authors }}</h6>
          <div class="news-description">{{ post.abstract | truncatewords: 50 }} <a href="{{ poster.url }}">Read more.</a></div>
        </article>
        {% endfor %}
  {% endfor %}
