<div class="section contain-1120">
	<!-- section top here -->
	<div class="alternate-photo-float">
		<div class="image-left">
			<img alt="image description" src="/assets/images/550x310.png"/>
			<div class="text-over-image">
				<p><span class="big">0%</span><br/>
				Label</p>
			</div>
		</div>
		<div class="text">
			<h4>Title</h4>
			<ul>
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li>
				<li><a href="#">Link 4</a></li>
			</ul>
		</div>
	</div>
	<div class="alternate-photo-float">
		<div class="text">
			<h4>Title</h4>
			<p>Paragraph content. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
		<div class="image-right">
			<img alt="image description" src="/assets/images/550x310.png"/>
		</div>
	</div>
	<div class="alternate-photo-float">
		<div class="image-left">
			<img alt="image description" src="/assets/images/550x310.png"/>
			<div class="text-over-image">
				<p><span class="big">0%</span><br/>
				Label</p>
			</div>
		</div>
		<div class="text">
			<figure class="quote">
				<p><span></span>Quotation”</p>
				<figcaption>
					<p><span>Credit</span><br/>
					<strong>School</strong><br/>
					Title or program</p>
				</figcaption>
			</figure>
		</div>
	</div>
</div>
