<nav id="top-nav" aria-label="main navigation menu">
    <div class="contain-1120">
        <ul>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}
            <li><a href="{{ link.url }}" {% if link.description %}title="{{ link.description }}"{% endif %}>{{ link.title }}</a></li>
            {% endfor %}
        </ul>
      </div>
  </nav>
