<div class="section">
    <div class="photo-feature-2-across">
        <article class="photo-feature">
            <a href="#">
                <div class="front">
                    <img alt="enter descriptive text" src="images/418x235.gif"/>
                    <div class="text-over-image">
                        <h4>Title</h4>
                        <p class="link">Call to action</p>
                    </div>
                </div>
                <div class="back">
                    <div class="back-text">
                        <h4>Title</h4>
                        <p>Lorem ipsum dolor sit amet, ei pri wisi quaestio iudicabit. Dolorum omittantur nam ut.</p>
                        <p class="link">Call to action</p>
                    </div>
                </div>
            </a>
        </article>
         <article class="photo-feature">
            <a href="#">
                <div class="front">
                    <img alt="enter descriptive text" src="images/418x235.gif"/>
                    <div class="text-over-image">
                        <h4>Title</h4>
                        <p class="link">Call to action</p>
                    </div>
                </div>
                <div class="back">
                    <div class="back-text">
                        <h4>Title</h4>
                        <p>Lorem ipsum dolor sit amet, ei pri wisi quaestio iudicabit. Dolorum omittantur nam ut.</p>
                        <p class="link">Call to action</p>
                    </div>
                </div>
            </a>
        </article>
    </div>
</div>  
