{% if page.header.image %}
<div class="hero no-bottom-margin">
  <img id="visualization-header" src="{{page.header.image}}">
</div>
{% endif %}

{% if page.plotly %}
<iframe width="900" height="800" frameborder="0" scrolling="no" src="{{page.plotly}}" style="display:block;margin:auto;"></iframe>
{% endif %}

{% if page.prezi %}
<iframe id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="940" height="480" src="{{ page.prezi }}" style="display:block;margin:auto;"></iframe>
{% endif %}

{% if page.google_drive %}
<iframe src="https://drive.google.com/file/d/1lBszIjeaSQ7hEJGwvTkwEPZXilHVnLhZ/preview" width="800" height="600" style="display:block;margin:auto;"></iframe>
{% endif %}
