<div id="bottom-bar" class="contain-1120">
    <div id="site-name">
        <h1><a href="#">{{ site.title | upcase}}</a></h1>
    </div>
    <div id="search" class="hide-mobile">
<div class="search-form searchblox">
  <form action="https://searchsite.northwestern.edu/searchblox/default_frontend/index.html" method="get" role="search">
                <label class="hide-label" for="q-desktop">Search this website</label>
                <input id="q-desktop" name="query" placeholder="Search this site" type="text"/>
                <input type="hidden" name="filter" value="http://www.northwestern.edu/YOUR_SITE"/>
                <input type="hidden" name="advanced" value="false"/>
                <button type="submit"><span class="hide-label">Search</span></button>
  </form>
</div>
    </div>
</div>
