<div id="mobile-links">
    <a href="#mobile-nav" class="mobile-link mobile-nav-link"><span class="hide-label">Menu</span></a>
    <nav id="mobile-nav" aria-label="mobile menu">
        <ul>
            <li tabindex="0"><a href="#">About</a><span class="arrow"><a aria-haspopup="true" href="#" role="button"><span>Expand</span> Submenu</a></span>
                <ul aria-expanded="false" aria-hidden="true">
                    <li><a href="#">Level 2, Link 1 </a><span class="arrow"><a aria-haspopup="true" href="#" role="button"><span>Expand</span>Submenu</a></span>
                        <ul aria-expanded="false" aria-hidden="true">
                            <li><a href="#">Level 3, Link 2 the quick brown fox jumped over the lazy dog</a><span class="arrow"><a aria-haspopup="true" href="#" role="button"><span>Expand</span>Submenu</a></span>
                                <ul aria-expanded="false" aria-hidden="true">
                                    <li><a href="#">Level 4, Link 1</a></li>
                                    <li><a href="#">Level 4, Link 2</a><span class="arrow"><a aria-haspopup="true" href="#" role="button"><span>Expand</span>Submenu</a></span>
                                        <ul aria-expanded="false" aria-hidden="true">
                                            <li><a href="#">Level 5, Link 1</a><span class="arrow"><a aria-haspopup="true" href="#" role="button"><span>Expand</span>Submenu</a></span>
                                                <ul aria-expanded="false" aria-hidden="true">
                                                    <li><a href="#">Level 6, Link 1</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Level 5, Link 2</a></li>
                                            <li><a href="#" class="active">Level 5, Link 3</a></li>
                                            <li><a href="#">Level 5, Link 4</a></li>
                                            <li><a href="#">Level 5, Link 5</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Level 4, Link 3</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Level 3, Link 2</a></li>
                            <li><a href="#">Level 3, Link 3</a></li>
                            <li><a href="#">Level 3, Link 4</a></li>
                            <li><a href="#">Level 3, Link 5</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Academics</a><span class="arrow"><a aria-haspopup="true" href="#" role="button"><span>Expand</span> Submenu</a></span>
                <ul aria-expanded="false" aria-hidden="true">
                    <li><a href="#">Level 2, Link 1</a></li>
                </ul>
            </li>
            <li><a href="#">Admissions</a><span class="arrow"><a aria-haspopup="true" href="#" role="button"><span>Expand</span> Submenu</a></span>
                <ul aria-expanded="false" aria-hidden="true">
                    <li><a href="#">Level 2, Link 1</a></li>
                </ul>
            </li>
            <li><a href="#">Campus Life</a><span class="arrow"><a aria-haspopup="true" href="#" role="button"><span>Expand</span> Submenu</a></span>
                <ul aria-expanded="false" aria-hidden="true">
                    <li><a href="#">Level 2, Link 1</a></li>
                </ul>
            </li>
            <li><a href="#">Research</a><span class="arrow"><a aria-haspopup="true" href="#" role="button"><span>Expand</span> Submenu</a></span>
                <ul aria-expanded="false" aria-hidden="true">
                    <li><a href="#">Level 2, Link 1</a></li>
                </ul>
            </li>
            <li><a href="#">Giving</a><span class="arrow"><a aria-haspopup="true" href="#" role="button"><span>Expand</span> Submenu</a></span>
                <ul aria-expanded="false" aria-hidden="true">
                    <li><a href="#">Level 2, Link 1</a></li>
                </ul>
            </li>
        </ul>
        <div id="mobile-nav-bottom">
            <!-- from #global-links -->
            <ul id="mobile-nav-bottom-left">
                <li><a href="#">Global Link 1</a></li>
                <li><a href="#">Global Link 2</a>
                    <ul>
                        <li><a href="#">Global Drop Link 1</a></li>
                        <li><a href="#">Global Drop Link 2</a></li>
                        <li><a href="#">Global Drop Link 3</a></li>
                    </ul>
                </li>
            </ul>
            <!-- from #quick-links -->
            <ul id="mobile-nav-bottom-right">
                <li><a href="#">Quick Link 1</a></li>
                <li><a href="#">Quick Link 2</a></li>
                <li><a href="#">Quick Link 3</a></li>
            </ul>
        </div>
    </nav>
    <a href="#mobile-search" class="mobile-link mobile-search-link"><span class="hide-label">Search</span></a>
    <div id="mobile-search">
<div class="search-form searchblox">
  <form action="https://searchsite.northwestern.edu/searchblox/default_frontend/index.html" method="get" role="search">
                <label class="hide-label" for="q-mobile">Search this website</label>
                <input id="q-mobile" name="query" placeholder="Search this site" type="text"/>
                <input type="hidden" name="filter" value="http://www.northwestern.edu/YOUR_SITE"/>
                <input type="hidden" name="advanced" value="false"/>
                <button type="submit"><span class="hide-label">Search</span></button>
  </form>
</div>
    </div>
</div>
