<div id="top-bar">
    <div class="contain-1120">
        <div id="left">
            <div id="northwestern">
                <a href="http://www.northwestern.edu/" title="Northwestern University Home"><span class="hide-label">Northwestern University</span></a>
            </div>
            <div id="parent-unit">
                <a href="#">Parent Unit Name</a>
            </div>
        </div>
        <div id="global-links" aria-label="global links navigation">
            <ul>
                <li><a href="#">Global Link 1</a></li>
                <li><a href="#">Global Link 2</a></li>
                <li class="resources">Global Dropdown <span class="dropdown-arrow"></span>
                    <ul>
                        <li><a href="#">Global Drop Link 1</a></li>
                        <li><a href="#">Global Drop Link 2</a></li>
                        <li><a href="#">Global Drop Link 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
