---
layout: default
---
<body class="landing-page">
    <a id="top"></a>
    <a href="#main-content" class="screen-reader-shortcut">Skip to main content</a>
    <!--[if lt IE 9]>
    <div id="ie">
        <p><img src="https://common.northwestern.edu/v8/css/images/icons/ie-warning.png" alt="Warning icon" /> Your browser is <strong>out-of-date</strong> and has known <strong>security flaws</strong>. We recommend you update your browser: <a href="http://www.google.com/chrome/" target="_blank">Chrome</a> - <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a> - <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">Internet Explorer</a> - <a href="https://www.apple.com/safari/" target="_blank">Safari</a>.</p>
    </div>
    <![endif]-->
    <header>
        <a href="#main-content" class="screen-reader-shortcut">Skip to main content</a>
        {% include header/top-bar.html %}
        {% include header/bottom-bar.html %}
        {% include header/mobile-links.html %}
    </header>

    {% include navigation.html %}

    <div id="page">
      <main class="content" id="main-content">
        {% include hero-image.html %}

        <div class="section">
        	<div class="section-top contain-970">
        		<h3>Themes</h3>
        		<p class="subhead">computational simulations, large data sets, machine learning, and visualization</p>
        	</div>
        </div>

        <div class="section contain-1120">
          <div class="section">
            <div class="section-top contain-970">
              <h3>Browse</h3>
            </div>
        </div>
        	<div class="alternate-photo-float">
        		<div class="image-left">
        			<img alt="Laura Nelson at Computational Research Day 2016" title="Laura Nelson at Computational Research Day 2016" src="/assets/images/presentations-1.jpg"/>
        		</div>
        		<div class="text">
        			<h4><a href="/speakers/">Presentation Abstracts</a></h4>
        			<p>Keynote addresses from <a href="https://ischool.illinois.edu/people/faculty/vcs">Victoria Stodden</a>, Associate Professor of Information Sciences, <a href="http://illinois.edu/">University of Illinois at Urbana-Champaign</a> & <a href="http://sciencejedi.com/professional/">Shane Larson</a>, Associate Director of <a href="http://ciera.northwestern.edu/">CIERA (Center for Interdisciplinary Exploration and Research in Astrophysics</a> at Northwestern University. Morning and afternoon sessions featuring Northwestern faculty and graduate students.</p>
        		</div>
        	</div>
        	<div class="alternate-photo-float">
        		<div class="text">
        			<h4><a href="/posters/">Posters</a></h4>
        			<p>Selected poster presentations highlighting Northwestern student and postdoctoral research are available and archived by the library.</p>
        		</div>
        		<div class="image-right">
        			<img alt="Poster Session at Computational Research Day 2017" title="Poster Session at Computational Research Day 2017" src="/assets/images/posters-1.jpg"/>
        		</div>
        	</div>
        	<div class="alternate-photo-float">
        		<div class="image-left">
        			<img alt="image description" style="width:550px;height:310px;" src="/assets/images/2018/davidhead_animation.gif"/>
        		</div>
        		<div class="text">
            	<h4><a href="/visualizations/">Visualizations</a></h4>
        			<p>Selected visualizations created by Northwestern students and postdoctoral researchers are presented as images, videos, and interactive graphics.</p>
        		</div>
        	</div>
        </div>
        <div class="contain-970">
          <div class="section">
            <div class="section-top contain-970">
              <h3>About</h3>
            </div>
            <p>{{ content }}</p>
        </div>
      </main>
    </div>
    <footer>
        <div class="contain-970">
            {% include footer/required-links.html %}
            {% include footer/contact-info.html %}
            {% include footer/social-media.html %}
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/js/scripts.js"></script>
</body>
