---
layout: default
---
<body class="standard-page">
    <a id="top"></a>
    <a href="#main-content" class="screen-reader-shortcut">Skip to main content</a>
    <!--[if lt IE 9]>
    <div id="ie">
        <p><img src="https://common.northwestern.edu/v8/css/images/icons/ie-warning.png" alt="Warning icon" /> Your browser is <strong>out-of-date</strong> and has known <strong>security flaws</strong>. We recommend you update your browser: <a href="http://www.google.com/chrome/" target="_blank">Chrome</a> - <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a> - <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">Internet Explorer</a> - <a href="https://www.apple.com/safari/" target="_blank">Safari</a>.</p>
    </div>
    <![endif]-->
    <header>
        <a href="#main-content" class="screen-reader-shortcut">Skip to main content</a>
        {% include header/top-bar.html %}
        {% include header/bottom-bar.html %}
        {% include header/mobile-links.html %}
    </header>

        {% include navigation.html %}

    <div id="page">
      <main id="main-content" class="content">

        <h2>{{ page.title }}</h2>

        {% for poster in site.posters %}
        <article class="news">
        	<a href="{{ poster.url }}"><img alt="{{ poster.abstract | trucatewords: 10 }}" src="{{ poster.image_path }}" style="max-width:265px;max-height:265px;"/></a>
        	<h4 class="news-title"><a href="{{ poster.url }}">{{ poster.title }}</a></h4>
          <div class="news-date" style="color: grey">{{ poster.authors }}</div>
        	<div class="news-date">{{ poster.date | date: "%B %d, %Y" }}</div>
        	<div class="news-description">{{ poster.abstract }}</div>
        </article>
        {% endfor %}
      </main>
    </div>

    <footer>
        <div class="contain-970">
            {% include footer/required-links.html %}
            {% include footer/contact-info.html %}
            {% include footer/social-media.html %}
            {% include footer/extra-links.html %}
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/js/scripts.js"></script>
</body>
