---
layout: default
---
<body class="landing-page">
    <a id="top"></a>
    <a href="#main-content" class="screen-reader-shortcut">Skip to main content</a>
    <!--[if lt IE 9]>
    <div id="ie">
        <p><img src="https://common.northwestern.edu/v8/css/images/icons/ie-warning.png" alt="Warning icon" /> Your browser is <strong>out-of-date</strong> and has known <strong>security flaws</strong>. We recommend you update your browser: <a href="http://www.google.com/chrome/" target="_blank">Chrome</a> - <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a> - <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">Internet Explorer</a> - <a href="https://www.apple.com/safari/" target="_blank">Safari</a>.</p>
    </div>
    <![endif]-->
    <header>
        <a href="#main-content" class="screen-reader-shortcut">Skip to main content</a>
        {% include header/top-bar.html %}
        {% include header/bottom-bar.html %}
        {% include header/mobile-links.html %}
    </header>

            {% include navigation.html %}

        <div id="page">

        {% include scribd.html %}

          <main id="main-content" class="content">

            <div class="section background-select">
            	<!-- note: no section top -->
            	<div class="background-select-image">
            		<div class="contain-970">
            			<h3>{{ page.tag }}</h3>
            			<p class="subhead">{{ page.title }}</p>
                  <h6>{{ page.authors | join: ', ' }}</h6>
                  <h6>DOI: <a href="https://doi.org/{{page.doi}}"> {{ page.doi }}</a></h6>
            			<a class="button" target="_blank" href="{{ page.poster_pdf }}">Download</a>
                  <h3>Abstract</h3>
                  <p>{{ page.abstract }}</p>
            		</div>
            	</div>
            </div>

            <div class="section contain-1120">
              <div class="section-top contain-970">
                <h3>Related Posters</h3>
              </div>

               <div class="feature-two-col">
                 <article class="feature-box">
                   {% if page.previous.url %}
                     <div class="feature-copy">
                       <h4><a href="{{page.previous.url}}">{{ page.previous.title }}</a></h4>
                       <h6>{{ page.previous.authors }}, {{ page.next.tags }}</h6>
                       <p>{{ page.previous.abstract | truncatewords: 75 }} <a href="{{page.previous.url}}">View the poster.</a></p>
                     </div>
                    {% endif %}
                 </article>
                 <article class="feature-box">
                   {% if page.next.url %}
                     <div class="feature-copy">
                       <h4><a href="{{page.previous.url}}">{{ page.next.title }}</a></h4>
                       <h6>{{ page.next.authors }}, {{ page.next.tags }}</h6>
                       <p>{{ page.next.abstract | truncatewords: 75 }} <a href="{{page.next.url}}">View the poster.</a></p>
                     </div>
                    {% endif %}
                 </article>
               </div>
             </div>
          </main>
        </div>

    <footer>
        <div class="contain-970">
            {% include footer/required-links.html %}
            {% include footer/contact-info.html %}
            {% include footer/social-media.html %}
            {% include footer/extra-links.html %}
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/js/scripts.js"></script>
</body>
