---
layout: default
---
<body class="landing-page">
    <a href="#main-content" class="screen-reader-shortcut">Skip to main content</a>
    <!--[if lt IE 9]>
    <div id="ie">
        <p><img src="https://common.northwestern.edu/v8/css/images/icons/ie-warning.png" alt="Warning icon" /> Your browser is <strong>out-of-date</strong> and has known <strong>security flaws</strong>. We recommend you update your browser: <a href="http://www.google.com/chrome/" target="_blank">Chrome</a> - <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a> - <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">Internet Explorer</a> - <a href="https://www.apple.com/safari/" target="_blank">Safari</a>.</p>
    </div>
    <![endif]-->
    <header>
        <a href="#main-content" class="screen-reader-shortcut">Skip to main content</a>
        {% include header/top-bar.html %}
        {% include header/bottom-bar.html %}
        {% include header/mobile-links.html %}
    </header>

            {% include navigation.html %}

        <div id="page">

        {% include scribd.html %}

          <main id="main-content" class="content">

            <div class="section large-feature">
                    <h2>{{ page.title }}</h2>
                    <h3>{{ page.tag }}</h3>
                    <div class="large-feature-inner">
                      <div class="content-side">
                        <h4>Abstract</h4>
                        <div class="text">
                          <p>{{ page.abstract }}</p>
                        </div>
                      </div>
                        <div class="right-side">
            			        <h4>{{ page.authors }}</h4>
                          <p style="color:#4e2a84">{{ page.department }}</p>
                          <p style="color:#000;">{{ page.date | date: "%B, %Y" }}</p>
                          {% if page.award %}
                          <p>{{ page.award }}</p>
                          {% endif %}
                          <p>DOI: <a href="https://doi.org/{{page.doi}}"> {{ page.doi }}</a></p>
                          <a class="button" target="_blank" href="{{ page.poster_pdf }}">Download</a>
                        </div>
                    </div>
            </div>
          </main>
        </div>

    <footer>
        <div class="contain-970">
            {% include footer/required-links.html %}
            {% include footer/contact-info.html %}
            {% include footer/social-media.html %}
            {% include footer/more-info.html %}
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/js/scripts.js"></script>
</body>
